.main-container {
  height: 100vh;
  width: min(100vw, 1350px);
  background: url("/src/Assets/images/bg-desktop-dark.jpg") no-repeat;

  display: grid;
  place-items: center;
}
.transition {
  transition: all 0.2s ease;
}
.main-container.moon-mode {
  background: url("../src/Assets//images/bg-desktop-light.jpg") no-repeat;
}
.todo-div {
  height: 80%;
  width: min(100%, 500px);
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}
.todo-head-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.1rem;
}
.todo-head-btn > h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--very-light-gray);

  letter-spacing: 0.7rem;
}
.toggleBtn {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.toggleBtn > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
}
@media (width <= 380px) {
  .main-container {
    background: url("./Assets//images/bg-mobile-dark.jpg") no-repeat;
  }
  .main-container.main-container.moon-mode {
    background: url("./Assets/images/bg-mobile-light.jpg") no-repeat;
  }
}
